<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TP1OpenClassrooms</display-name>
   <jsp-config>
	  <taglib>
	  <taglib-uri>CJSTL</taglib-uri>
	  <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	  </taglib>
  </jsp-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreationClient</display-name>
    <servlet-name>CreationClient</servlet-name>
    <servlet-class>servlets.CreationClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationClient</servlet-name>
    <url-pattern>/CreationClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreationCommande</display-name>
    <servlet-name>CreationCommande</servlet-name>
    <servlet-class>servlets.CreationCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationCommande</servlet-name>
    <url-pattern>/CreationCommande</url-pattern>
  </servlet-mapping>
</web-app>